<%- include("partials/header") -%>

<div class="coin-selection">
  <form>
    <label for="coins">Choose a coin:</label>
    <select id="coin-dropdown" onchange="coinSelect()">
      <option value="Default">Default</option>
      <option value="Quarter">Quarter</option>
      <option value="Bitcoin">Bitcoin</option>
      <option value="Dogecoin">Dogecoin</option>
    </select>
  </form>
  <div class="reset">
    <button class="btn btn-light btn-outline-danger" >Reset</button>
  </div>
</div>

<div id="coin-content">
  <div id="coin">
    <div class="side-a"><img src="" class="coin-img1" /></div>
    <div class="side-b"><img src="" class="coin-img2" /></div>
  </div>
  <h1 class="result">Click on coin to flip</h1>
</div>

<div id="coin-content2">
  <div id="coin2">
    <div class="side-a2"><img src="" class="coin-img1" /></div>
    <div class="side-b2"><img src="" class="coin-img2" /></div>
  </div>
  <h1 class="result2">Click on coin to flip</h1>
</div>

<div id="coin-content3">
  <div id="coin3">
    <div class="side-a3"><img src="" class="coin-img1" /></div>
    <div class="side-b3"><img src="" class="coin-img2" /></div>
  </div>
  <h1 class="result3">Click on coin to flip</h1>
</div>

<p class="outcome result-heads">Your decision (Heads): <%= resultHeads %></p>
<p class="outcome result-tails">Your decision (Tails): <%= resultTails %></p>
<form id="cont-button2" action="/2-3flips" method="POST">
  <button type="submit" class="result-button btn btn-lg btn-light btn-outline-danger" name="continue" value="" >Continue...</button>
  </form>

<footer>
  Made with ❤️ by Pat
</footer>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="2-3flips.js" charset="utf-8"></script>
</body>

</html>
