<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
  <title>Flip A Damn Coin</title>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <!-- css -->
  <link rel="stylesheet" href="styles.css">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap" rel="stylesheet">
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<style>
body {
  overflow-y: visible;
}
</style>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f29191;">
      <div class="container-fluid">
        <a class="navbar-brand active header-text" style="color: #ffe5e2;" href="/">Flip A Damn Coin</a>
        <div class="collapse navbar-collapse navbar-div" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
            <li class="nav-item">
              <a class="nav-link active header" aria-current="page" style="color: #ffe5e2;" href="/history">Past Coin Flips</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" style="color: #ffe5e2;" href="/about">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>


<div class="starting-text">
  <h1 >Welcome to Flip A Damn Coin</h1>
  <p>
    Your friendly simple decision making app! Click the coins to start!
    </p>
<i class="starting-coin fas fa-coins"></i>
  </div>

<form class="outcome-form" action="/" method="POST">
<div class="inline-div col-lg-4 col-md-6 col-sm-12">
  <label for="heads">Heads:</label><br />
    <textarea type="text" id="heads" name="inputHeads" rows="4" cols="50" maxlength= "100" placeholder="Please enter your decision for heads."></textarea><br />
</div>
<div class="inline-div col-lg-4 col-md-6 col-sm-12">
  <label for="tails">Tails:</label><br />
  <textarea type="text" id="tails" name="inputTails" rows="4" cols="50" maxlength= "100" placeholder="Please enter your decision for tails."></textarea>
</div>
<div class="submit-button">
  <button type="submit" class="btn btn-lg btn-light btn-outline-danger">Submit Your Decisions...</button>
</div>
</form>

<h1 class="choose-flip">...And Then Choose Your flips</h1>

<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
  <div class="col col-lg-4 col-md-12 col-sm-12">
    <div class="card mb-4 shadow-sm">
      <div img src="" class="card-img-top">
      </div>
      <div class="card-body">
        <h1 class="card-title ">FEELING BOLD HUH?</h1>
        <form action="/oneflip">
            <button type="submit" class="w-100 btn btn-lg btn-light btn-outline-danger">One Coin Flip</button>
        </form>

      </div>
    </div>
  </div>
  <div class="col col-lg-4 col-md-12 col-sm-12">
    <div class="card mb-4 shadow-sm">
      <div img src="" class="card-img-top">
      </div>
      <div class="card-body">
        <h1 class="card-title ">Feeling indecisive?</h1>
        <form action="/2-3flips">
        <button type="submit" class="w-100 btn btn-lg btn-light btn-outline-warning">2-3 Coin Flips </button>
      </form>
      </div>
    </div>
  </div>
  <div class="col col-lg-4 col-md-12 col-sm-12">
    <div class="card mb-4 shadow-sm">
      <div img src="" class="card-img-top">
      </div>
      <div class="card-body">
        <h1 class="card-title ">REALLY CAN'T DECIDE?!</h1>
        <form action="/3-5flips">
          <button type="submit" class="w-100 btn btn-lg btn-light btn-outline-success">3-5 Coin Flips</button>
        </form>

      </div>
    </div>
  </div>
</div>

<footer class="home-footer">
  Made with ❤️ by Pat
</footer>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="index.js" charset="utf-8"></script>
</body>

</html>
