body {
  background: #e2bcb7;
  color: white;
  -webkit-perspective: 800px;
  font-family: 'Comfortaa', cursive;
  overflow: hidden;
}

.nav-link {
  position: relative;
  right: 350px;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
  font-size: 30px;
  color: white;
}

.oneflip-result {
  text-align: center;
  position: relative;
  bottom: -50px;
}

.starting-text {
  text-align: center;
  position: relative;
  top: 150px;
  color: white;
}

.disappear-mid {
  animation: disappearMid 1s;
  transition-duration: 1s;
  animation-fill-mode: forwards;
}

.starting-text h1 {
  font-size: 80px;
  padding: 30px;
}

.starting-text p {
  font-size: 30px;
}

.starting-coin {
  font-size: 100px;
  padding: 30px;
  color: #ffc93c;
}

.starting-coin:hover {
  color: #f9b208;
}

.starting-coin:active {
  color: #a35709;
}

.outcome-form {
  position: relative;
  top: 150px;
  color: white;
}

.inline-div {
  display: inline-block;
  position: relative;
  left: 400px;
  top: 30px;
}

.submit-button {
  position: relative;
  top: 50px;
  left: 775px;
}

label {
  font-size: 30px;
}

.choose-flip {
  position: relative;
  top: 100px;
  font-size: 60px;
  color: white;
}

.navbar {
  padding: 40px 0;
}

.navbar-div {
  position: relative;
  left: 55%;
}

ul {
  display: inline;
  float: right;
  font-size: 30px;
}

.nav-item {
  padding: 0 20px;
}

.header-text {
  text-align: left;
  font-size: 50px;
  font-family: 'Comfortaa', cursive;
  margin-left: 40px;
  color: #ffe5e2;
  display: inline;
  font-weight: bold;
}

.col {
  padding: 100px 50px;
}

.row {
  padding: 0 180px;
  position: relative;
  top: 100px;
}

.card-title {
  color: #c64756;
  padding: 40px;
}

.card-body {
  background-color: #ffe5e2;
}

.coin-selection {
  position: relative;
  width: 300px;
  top: 10px;
  left: 300px;
}

.outcome {
  position: relative;
  bottom: 600px;
  font-weight: bold;
}

.reset {
  position: relative;
  top: -32px;
  left: 280px;
  z-index: 999;
}

footer {
  position: absolute;
  width: 100%;
  text-align: center;
  color: #ffe5e2;
  top: 905px;
  background-color: #903749;
  padding: 20px;
}

#coin {
  position: relative;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  cursor: pointer;
  transition: -webkit-transform 1s ease-in;
  -webkit-transform-style: preserve-3d;
}

#coin div {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 45px rgba(255, 255, 255, .3), 0 12px 20px -10px rgba(0, 0, 0, .4);
  -moz-box-shadow: inset 0 0 45px rgba(255, 255, 255, .3), 0 12px 20px -10px rgba(0, 0, 0, .4);
  box-shadow: inset 0 0 45px rgba(255, 255, 255, .3), 0 12px 20px -10px rgba(0, 0, 0, .4);
  position: absolute;
  -webkit-backface-visibility: hidden;
}

#coin2 {
  position: relative;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  cursor: pointer;
  transition: -webkit-transform 1s ease-in;
  -webkit-transform-style: preserve-3d;
}

#coin2 div {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 45px rgba(255, 255, 255, .3), 0 12px 20px -10px rgba(0, 0, 0, .4);
  -moz-box-shadow: inset 0 0 45px rgba(255, 255, 255, .3), 0 12px 20px -10px rgba(0, 0, 0, .4);
  box-shadow: inset 0 0 45px rgba(255, 255, 255, .3), 0 12px 20px -10px rgba(0, 0, 0, .4);
  position: absolute;
  -webkit-backface-visibility: hidden;
}

#coin3 {
  position: relative;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  cursor: pointer;
  transition: -webkit-transform 1s ease-in;
  -webkit-transform-style: preserve-3d;
}

#coin3 div {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 45px rgba(255, 255, 255, .3), 0 12px 20px -10px rgba(0, 0, 0, .4);
  -moz-box-shadow: inset 0 0 45px rgba(255, 255, 255, .3), 0 12px 20px -10px rgba(0, 0, 0, .4);
  box-shadow: inset 0 0 45px rgba(255, 255, 255, .3), 0 12px 20px -10px rgba(0, 0, 0, .4);
  position: absolute;
  -webkit-backface-visibility: hidden;
}

#coin4 {
  position: relative;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  cursor: pointer;
  transition: -webkit-transform 1s ease-in;
  -webkit-transform-style: preserve-3d;
}

#coin4 div {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 45px rgba(255, 255, 255, .3), 0 12px 20px -10px rgba(0, 0, 0, .4);
  -moz-box-shadow: inset 0 0 45px rgba(255, 255, 255, .3), 0 12px 20px -10px rgba(0, 0, 0, .4);
  box-shadow: inset 0 0 45px rgba(255, 255, 255, .3), 0 12px 20px -10px rgba(0, 0, 0, .4);
  position: absolute;
  -webkit-backface-visibility: hidden;
}

#coin5 {
  position: relative;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  cursor: pointer;
  transition: -webkit-transform 1s ease-in;
  -webkit-transform-style: preserve-3d;
}

#coin5 div {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 45px rgba(255, 255, 255, .3), 0 12px 20px -10px rgba(0, 0, 0, .4);
  -moz-box-shadow: inset 0 0 45px rgba(255, 255, 255, .3), 0 12px 20px -10px rgba(0, 0, 0, .4);
  box-shadow: inset 0 0 45px rgba(255, 255, 255, .3), 0 12px 20px -10px rgba(0, 0, 0, .4);
  position: absolute;
  -webkit-backface-visibility: hidden;
}

.coin-img1 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.coin-img2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.side-a {
  background-color: #f9b208;
  background-image: url("quarterh.jpg");
  z-index: 100;
}

.side-b {
  background-color: #a35709;
  -webkit-transform: rotateY(-180deg);
}

.side-a2 {
  background-color: #f9b208;
  background-image: url("quarterh.jpg");
  z-index: 100;
}

.side-b2 {
  background-color: #a35709;
  -webkit-transform: rotateY(-180deg);
}

.side-a3 {
  background-color: #f9b208;
  background-image: url("quarterh.jpg");
  z-index: 100;
}

.side-b3 {
  background-color: #a35709;
  -webkit-transform: rotateY(-180deg);
}

.side-a4 {
  background-color: #f9b208;
  background-image: url("quarterh.jpg");
  z-index: 100;
}

.side-b4 {
  background-color: #a35709;
  -webkit-transform: rotateY(-180deg);
}

.side-a5 {
  background-color: #f9b208;
  background-image: url("quarterh.jpg");
  z-index: 100;
}

.side-b5 {
  background-color: #a35709;
  -webkit-transform: rotateY(-180deg);
}

#coin-content {
  position: relative;
  top: 100px;
}

#coin-content h1 {
  padding: 50px;
}

.move-left {
  animation: moveLeft 1s;
  transition-duration: 1s;
  animation-fill-mode: forwards;
}

#coin-content2 {
  position: relative;
  left: 10px;
  top: -255px;
}

#coin-content2 h1 {
  padding: 50px;
}

.appear-mid {
  animation: appearMid 1s;
  transition-duration: 1s;
  animation-fill-mode: forwards;
}

.appear-mid-2 {
  position: relative;
  bottom: 250px;
}

.appear-mid-3 {
  position: relative;
  bottom: 600px;
}

.appear-mid-4 {
  position: absolute;
  bottom: 1425px;
  left: 700px;
}

.appear-mid-5 {
  position: relative;
  bottom: 1805px;
}

#coin-content3 {
  position: relative;
  left: 5px;
  top: -605px;
}

#coin-content3 h1 {
  padding: 50px;
}

.move-right {
  animation: moveRight 1s;
  transition-duration: 1s;
  animation-fill-mode: forwards;
}

#coin-content4 {
  position: relative;
  left: 5px;
  top: -955px;
}

#coin-content4 h1 {
  padding: 50px;
}

.diag-left {
  animation: diagLeft 1s;
  transition-duration: 1s;
  animation-fill-mode: forwards;
}

#coin-content5 {
  position: relative;
  left: 5px;
  top: -1310px;
}

#coin-content5 h1 {
  padding: 50px;
}

.diag-right {
  animation: diagRight 1s;
  transition-duration: 1s;
  animation-fill-mode: forwards;
}

#coin.heads {
  -webkit-animation: flipHeads 3s ease-out forwards;
  -moz-animation: flipHeads 3s ease-out forwards;
  -o-animation: flipHeads 3s ease-out forwards;
  animation: flipHeads 3s ease-out forwards;
}

#coin.tails {
  -webkit-animation: flipTails 3s ease-out forwards;
  -moz-animation: flipTails 3s ease-out forwards;
  -o-animation: flipTails 3s ease-out forwards;
  animation: flipTails 3s ease-out forwards;
}

#coin2.heads2 {
  -webkit-animation: flipHeads 3s ease-out forwards;
  -moz-animation: flipHeads 3s ease-out forwards;
  -o-animation: flipHeads 3s ease-out forwards;
  animation: flipHeads 3s ease-out forwards;
}

#coin2.tails2 {
  -webkit-animation: flipTails 3s ease-out forwards;
  -moz-animation: flipTails 3s ease-out forwards;
  -o-animation: flipTails 3s ease-out forwards;
  animation: flipTails 3s ease-out forwards;
}

#coin3.heads3 {
  -webkit-animation: flipHeads 3s ease-out forwards;
  -moz-animation: flipHeads 3s ease-out forwards;
  -o-animation: flipHeads 3s ease-out forwards;
  animation: flipHeads 3s ease-out forwards;
}

#coin3.tails3 {
  -webkit-animation: flipTails 3s ease-out forwards;
  -moz-animation: flipTails 3s ease-out forwards;
  -o-animation: flipTails 3s ease-out forwards;
  animation: flipTails 3s ease-out forwards;
}

#coin4.heads4 {
  -webkit-animation: flipHeads 3s ease-out forwards;
  -moz-animation: flipHeads 3s ease-out forwards;
  -o-animation: flipHeads 3s ease-out forwards;
  animation: flipHeads 3s ease-out forwards;
}

#coin4.tails4 {
  -webkit-animation: flipTails 3s ease-out forwards;
  -moz-animation: flipTails 3s ease-out forwards;
  -o-animation: flipTails 3s ease-out forwards;
  animation: flipTails 3s ease-out forwards;
}

#coin5.heads5 {
  -webkit-animation: flipHeads 3s ease-out forwards;
  -moz-animation: flipHeads 3s ease-out forwards;
  -o-animation: flipHeads 3s ease-out forwards;
  animation: flipHeads 3s ease-out forwards;
}

#coin5.tails5 {
  -webkit-animation: flipTails 3s ease-out forwards;
  -moz-animation: flipTails 3s ease-out forwards;
  -o-animation: flipTails 3s ease-out forwards;
  animation: flipTails 3s ease-out forwards;
}

.continue-button {
  position: relative;
  left: 895px;
  top: 50px;
}

.continue-button2a {
  position: relative;
  left: 895px;
  top: -250px;
}

.continue-button2b {
  position: relative;
  left: 895px;
  top: -600px;
}

.continue-button3a {
  position: relative;
  left: 895px;
  top: -600px;
}

.continue-button3b {
  position: relative;
  left: 895px;
  top: -1385px;
}

.continue-button3c {
  position: relative;
  left: 895px;
  top: -1815px;
}

.survey-form {
  text-align: center;
  color: white;
  margin-top: 20px;
}

.history-title {
  margin-top: 40px;
  font-size: 60px;
}

.history-table {
  margin: 20px auto;
  font-size: 15px;
  text-align: center;
  table-layout: fixed;
  width: 1500px;
}

.history-table th {
  font-size: 25px;
  padding: 10px 20px;
  background-color: #c64756;
  border: 2px solid #7b113a;
}

.history-table td {
  overflow-wrap: break-word;
  background-color: #f29191;
  border: 2px solid #7b113a;
}

.trash-can {
  color: white;
}

@-webkit-keyframes disappearMid {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes moveLeft {
  from {
    right: 0px;
  }

  to {
    right: 400px;
  }
}

@-webkit-keyframes appearMid {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes moveRight {
  from {
    left: 0px;
    opacity: 0;
  }

  to {
    left: 400px;
    opacity: 1;
  }
}

@-webkit-keyframes diagLeft {
  from {
    left: 0px;
    top: 0px;
    opacity: 0;
  }
  to {
    left: -200px;
    top: -775px;
    opacity: 1;
  }
}

@-webkit-keyframes diagRight {
  from {
    left: 0px;
    top: 0px;
    opacity: 0;
  }
  to {
    left: 200px;
    top: -1130px;
    opacity: 1;
  }
}

@-webkit-keyframes flipHeads {
  from {
    -webkit-transform: rotateX(0);
    -moz-transform: rotateX(0);
    transform: rotateX(0);
  }

  to {
    -webkit-transform: rotateX(1800deg);
    -moz-transform: rotateX(1800deg);
    transform: rotateX(1800deg);
  }
}

@-webkit-keyframes flipTails {
  from {
    -webkit-transform: rotateX(0);
    -moz-transform: rotateX(0);
    transform: rotateX(0);
  }

  to {
    -webkit-transform: rotateX(1980deg);
    -moz-transform: rotateX(1980deg);
    transform: rotateX(1980deg);
  }
}

@media only screen
  and (max-width: 1600px)
 {

.inline-div {
  display: inline-block;
  position: relative;
  left: 250px;
  margin: 30px;
}

.submit-button {
  position: relative;
  left: 650px;
}

.card-title {
  padding: 10px;
  font-size: 40px;
}

.row {
  padding: 0 40px;
  top: 100px;
}

footer {
  top: 725px;
}

#coin {
  bottom: 60px;
}

.result {
  position: relative;
  bottom: 75px;
}

.oneflip-result {
  bottom: 25px;
}

.continue-button {
  left: 730px;
  top: -30px;
}

#coin2 {
  bottom: 65px;
}

#coin3 {
  bottom: 67px;
}

.result2 {
  position: relative;
  bottom: 78px;
}

.result3 {
  position: relative;
  bottom: 85px;
}

.outcome {
  bottom: 725px;
}

.outcome2 {
  bottom: 375px;
}

.continue-button2a {
  left: 660px;
  top: -385px;
}

.continue-button2b {
  left: 660px;
  top: -735px;
}

#coin4 {
  bottom: 150px;
}

#coin5 {
  bottom: 150px;
}

.result4 {
  position: relative;
  bottom: 157px;
}

.result5 {
  position: relative;
  bottom: 157px;
}

.outcome3 {
  bottom: 1165px;
  left: 225px;
  font-size: 25px;
}

.outcome4 {
  bottom: 1475px;
  font-size: 25px;
}

.outcome5 {
  bottom: 1870px;
  left: 225px;
  font-size: 25px;
}

.continue-button3a {
  left: 915px;
  top: -1175px;
}

.continue-button3b {
  left: 915px;
  top: -1445px;
}

.continue-button3c {
  left: 915px;
  top: -1885px;
}

.survey-form {
  margin-top: 10px;
}

.survey-form h1 {
  font-size: 25px;
}

.survey-form p, input, label {
  font-size: 20px;
}
}

@media only screen
  and (max-width: 1680px)
  and (min-width: 1600px)
{
footer {
  top: 875px;
}

.continue-button2a, .continue-button2b, .continue-button3a, .continue-button3b, .continue-button3c {
  left: 760px;
}
}

@media only screen
  and (max-width: 1400px)
  {
    .starting-text {

      top: 50px;
      color: white;
    }

    .starting-text h1 {
      font-size: 50px;
      padding: 15px;
    }

    .starting-text p {
      font-size: 20px;
    }

    footer {
      top: 593px;
    }
  }
